@import '../common.scss';

.product-tile {

  &__image-container {
    aspect-ratio: 1/1;
  }

  &__product-image {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  &__product-info {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    @include mq($from: tablet) {
      display: flex;
      justify-content: space-between;
      padding: 13px 0 0px;
    }
  }

  &__product-price {
    display: flex;
    font-weight: bold;
  }

  &__product-compare {
    text-decoration: line-through;
    color: $color-secondary;
    padding: 0 5px;
    font-weight: 400;
  }
}