  $color-primary: #222;
  $color-secondary: #999999;
  $border: #dddddd;
  $background: #ffffff;
  $text: $color-primary;
  $text-light: $background;
  $error: red;


  $font-header: 'Lora', serif;
  $font-body: 'Open Sans', sans-serif;