.hero__container {
  display: grid;
}
.hero__image {
  width: 100%;
  height: auto;
  min-height: 320px;
  grid-area: 1/1;
}
.hero__text {
  color: white;
  grid-area: 1/-1;
  justify-self: center;
  text-align: center;
  align-self: center;
}
.hero__text a {
  color: white;
  font-family: "Open Sans", sans-serif;
}
.hero__text h1 {
  margin-bottom: 20px;
}