<link rel="stylesheet" href="{{ '404.css' | asset_url }}" />

<div class="content__wrapper">
  <h1 class="content__header">404</h1>
  <p class="content__body">The page you are looking for no longer exists</p>

  <p class="content__shop">{{ 'Keep shopping' | link_to: shop.url }}</p>
</div>